<h1><%= @student.to_s %></h1>

<p>
    <% if @student.active %>
        <%= link_to("This student is currently active.", activate_student_path(@student)) %>
    <% else %>
        <%= link_to("This student is currently inactive.", activate_student_path(@student)) %>
        <% end %>
</p>